@charset "utf-8";
$main: #203354;
$accent: #90c2eb;
$bg: #e9e9e9;
$second: #6692c1;
$text: #0c141e;
$border: #c6c6c6;

/* base
------------------------------------------------------------*/
body {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
  color : $text;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
.sp-only {
  @media (min-width: 768px) {
    display: none;
  }
}
.pc-only {
  display: none;
  @media (min-width: 768px) {
    display: inline-block;
  }
}
.pc-l-only {
  display: none;
  @media (min-width: 1200px) {
    display: inline-block;
  }
}

/* common
------------------------------------------------------------*/
.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.content-wrap {
  @media (min-width: 768px) {
    margin-top: 25px;
  }
  &_top {
    margin-top: 59px;
    @media (min-width: 768px) {
      margin-top: 90px;
    }
  }
  &_bottom {
    @media (min-width: 768px) {
      margin-bottom: 25px;
    }
  }
}
.btn {
  display: inline-block;
  width: 250px;
  max-width: 100%;
  padding: 10px 0;
  border: 1px solid $text;
  color: $text;
  font-weight: bold;
  text-align: center;
  transition: .25s;
  @media (min-width: 768px) {
    padding: 15px 0;
  }
  &::after{
    content: '';
    display: inline-block;
    width: 40px;
    height: 16px;
    margin-left: 12.5px;
    background: url(../img/allow.svg) center center/contain no-repeat;
  }
  &:focus,
  &:hover {
    background-color: $text;
    color: #ffffff;
    &::after {
      background-image: url(../img/allow_w.svg);
    }
  }
}
/* header
------------------------------*/
.header {
  width: 100%;
  height: 59px;
  background: #ffffff;
  position: fixed;
  z-index: 10;
  top: 0;
  @media (min-width: 768px) {
    height: 90px;
  }
  &__inner {
    height: 100%;
    padding-left: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 768px) {
      padding-left: 50px;
    }
  }
  &__logo {
    display: inline-block;
    width: 200px;
    height: auto;
    @media (min-width: 768px) {
      width: auto;
      height: 50px;
    }
  }
}
.header-btn {
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;
  width: 90px;
  height: 100%;
  padding: 5px;
  background-color: $main;
  @media (min-width: 768px) {
    width: 180px;
  }
  &__text {
    color: #ffffff;
    display: inline-block;
    &_close {
      display: none;
    }
  }
  &__icon {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    span {
      position: absolute;
      width: 26px;
      height: 2px;
      border-bottom: 2px solid #ffffff;
      transition: 0.7s;
    }
    & span:nth-child(1) {
      top: 33%;
    }
    & span:nth-child(2) {
      top: 66%;
    }
  }
  &.is_open {
    .header-btn__text {
      &_menu {
        display: none;
      }
      &_close {
        display: inline;
      }
    }
    .header-btn__icon{
      & span:nth-child(1) {
        top: 50%;
        transform: rotate(405deg);
      }
      & span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }
}
.header-menu {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 9;
  top: 0;
  background: #ffffff;
  transition: all 0.7s;
  transform: translateY(-100%);
  &.is_open {
    transform: translateY(59px); 
    @media (min-width: 768px) {
      transform: translateY(90px);
    }
  }
  &__inner {
    width: 92%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 768px) {
      width: 100%;
      max-width: 1200px;
    }
  }
}
.header-menu-items {
  list-style-type: none;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }
}
.header-menu-item {
  width: 100%;
  height: 61px;
  border-bottom: 1px solid $border;
  @media (min-width: 768px) {
    width: auto;
    height: 100px;
    border-bottom: none;
    border-left: 1px solid $border;
    &:last-child {
      border-right: 1px solid $border;
    }
  }
  &:hover {
    background: $accent;
    & .header-menu-item__inner {
      color: #ffffff;
      &::after {
        background-image: url(../img/allow_w.svg);
      }
    }
  }
  &__wrap {
    @media (min-width: 768px) {
      width: 20%;
    }
  }
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: $text;
    text-align: center;
    padding-top: 15px;
    @media (min-width: 768px) {
      width: 100%;
      text-align: center;
    }
    & span {
      display: none;
      @media (min-width: 768px) {
        display: inline-block;
        width: 100%;
        font-weight: normal;
      }
    }
  }
}
/* footer
------------------------------*/
.footer {
  width: 100%;
  background-color: $main;
  padding: 50px 0 25px;
  &__inner {
    @media (min-width: 768px) {
      padding: 0 50px;
    }
  }
  &__logo {
    display: inline-block;
    width: 200px;
    height: auto;
    padding-left: 15px;
    @media (min-width: 768px) {
      width: 250px;
      padding: 0;
    }
    @media (min-width: 1024px) {
      width: 300px;
    }
  }
}
.footer-contents {
  margin-bottom: 25px;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}
.footer-content {
  margin-bottom: 25px;
  @media (min-width: 768px) {
    width: 200px;
  }
  @media (min-width: 1024px) {
    width: 350px;
  }
}
.footer-info {
  font-size: 12px;
  color: #ffffff;
  padding: 0 15px;
  @media (min-width: 768px) {
    padding: 0;
  }
}
.footer-menu {
  width: 100%;
  height: auto;
  background-color: $second;
  @media (min-width: 768px) {
    background-color: rgba(0,0,0,0);
  }
}
.footer-menu-item {
  width: 100%;
  height: 61px;
  border-bottom: 1px solid $text;
  @media (min-width: 768px) {
    height: auto;
    border: none;
  }
  &__inner {
    position: relative;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: $text;
    text-align: center;
    padding-top: 15px;
    @media (min-width: 768px) {
      font-size: 16px;
      font-weight: normal;
      color: #ffffff;
      text-align: left;
      padding-top: 0;
    }
  }
}
.copy-right {
  color: #ffffff;
  text-align: center;
}
/* index
------------------------------------------------------------*/
/* MV
------------------------------*/
.MV {
  position: relative;
  height: 400px;
  margin-top: 59px;  
  @media (min-width: 768px) {
    height: 540px;
    margin-top: 90px;
  }
  &__slide {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &_1 {
      background-image: url(../img/MV.jpg);
    }
    &_2 {
      background-image: url(../img/consul.jpg);
    }
    &_3 {
      background-image: url(../img/office.jpg);
    }
  }
  &__shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    pointer-events: none;
  }
}
.hooper {
  height: 100% !important;
}
.level1-heading {
  position: absolute;
  top: 105px;
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: 768px) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__inner {
    font-size: 32px;
    font-weight: 300;
    color: #ffffff;
    white-space: nowrap;
    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
}
.scroll-down{
  position: absolute;
  bottom: 0;
  left: 50%;
  &__text {
    font-size: 10px;
    color: #ffffff;
    padding-bottom: 10px;
    transform: translateX(-50%);
  }
  &__line {
    width: 1px;
    height: 75px;
    background: #ffffff;
  }
}
/* content
------------------------------*/
.main-content {
  background-color: $bg;
  &__inner {
    padding: 25px 15px;
  }
}
.title {
  display: inline;
  font-size: 24px;
  color: #ffffff;
  &__wrap {
    position: relative;
    width: auto;
    height: 100px;
    background: $main;
    text-align: center;
    padding: 32px 0;
  }
}
.title-triangle {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 0;
  left: 0;
  background: url(../img/triangle.svg) top left/contain no-repeat;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    justify-content: space-around;
  }
}
.card {
  margin-bottom: 25px;
  width: 100%;
  @media (min-width: 768px) {
    width: 32%; 
    max-width: 300px;
  }
  &__img-wrap {
    margin-bottom: 15px;
  }
  &__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
/* contact
------------------------------*/
.contact {
  &__wrap {
    @media (min-width: 768px) {
      display: flex;
    }
  }
}
.contact-btn {
  &__wrap {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    &_bg-color {
      background-color: $second;
    }
    @media (min-width: 768px) {
      width: 50%;
    }
    &_center {
      width: 100% !important;
    }
  }
  &__caption {
    padding-bottom: 12.5px;
    @media (min-width: 768px) {
      padding-bottom: 25px;
    }
  }
}
/* topnews
-----------------------------*/
.topnews {
  padding: 25px 15px 50px;
  color: #ffffff;
  text-align: center;
  @media (min-width: 768px) {
    padding: 50px 10px;
  }
  &__wrap {
    width: 100%;
    background-color: $main;
  }
  &__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
    @media (min-width:768px) {
      margin-bottom: 50px;
    }
  }
  &__inner {
    display: inline-block;
    text-align: left;
  }
  &__item {
    margin-bottom: 15px;
    @media (min-width: 768px) {
      margin-bottom: 25px;
      & > * {
        display: flex;
        flex-wrap: nowrap;
      }
    }
  }
  &__date {
    font-weight: bold;
    @media (min-width: 768px) {
      padding-right: 10px;
      width: 130px
    }
  }
  &__text {
    @media (min-width: 768px) {
      width: calc(100% - 130px); 
    }
  }
}
/* news
------------------------------------------------------------*/
/* news
------------------------------*/
.news {
  padding: 50px 15px 25px;
  @media (min-width: 768px) {
    padding: 50px;
  }
}
.list {
  &__item {
    padding: 15px;
    border-top: 1px solid $border;
    @media (min-width: 768px) {
      padding: 25px;
    }
  }
  &__inner > *:last-child {
    border-bottom: 1px solid $border;
  }
  &__date,
  &__title {
    padding-bottom: 7.5px;
    @media (min-width: 768px) {
      padding-bottom: 0;
      display: inline-block;
      width: 20%;
      vertical-align: top;
    }
  }
  &__text {
    @media (min-width: 768px) {
      display: inline-block;
      width: 79%;
    }
  }
}
/* about
------------------------------------------------------------*/
/* flex-content
------------------------------*/
.flex-contents {
  display: flex;
  flex-wrap: wrap;
}
.flex-content {
  width: 100%;
  padding: 25px 15px;
  @media (min-width: 768px) {
    width: 50%;
    padding: 25px;
  }
  &__img {
    height: 250px;
    background: url(/img/consul.jpg) center center/cover no-repeat;
    @media (min-width: 750px) {
      height: auto;
    }
  }
}
.bg-second {
  background-color: $second;
}
.bg-accent {
  background-color: $accent;
}
.pc-bg-second {
  @media (min-width: 768px) {
    background-color: $second;
  }
}
.pc-bg-accent {
  @media (min-width: 768px) {
    background-color: $accent;
  }
}
.flex-content-title {
  padding-bottom: 12.5px;
  margin-bottom: 12.5px;
  border-bottom: 1px solid #ffffff;
  @media (min-width: 768px) {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  &__inner {
    font-size: 24px;
    font-weight: bold;
  }
}
.content {
  padding: 50px 15px;
}
/* rexruit
------------------------------------------------------------*/
/* recruit
------------------------------*/
.recruit {
  padding: 50px 15px 25px;
  @media (min-width: 768px) {
    padding: 50px;
  }
}
/* contact
------------------------------------------------------------*/
/* contact form
------------------------------*/
.contact-form {
  padding: 50px 15px 25px;
  @media (min-width: 768px) {
    padding: 50px;
  }
}
.contact-form-item {
  margin-bottom: 12.5px;
  @media (min-width: 768px) {
    margin-bottom: 25px;
  }
  &__label {
    display: block;
    margin-bottom: 7.5px;
    @media (min-width: 768px) {
      margin-bottom: 15px;
    }
  }
  &__input {
    width: 100%;
    padding: 7.5px;
    border: 1px solid $border; 
  }
}
