@charset "UTF-8";
/* base
------------------------------*/
body {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
  color: #0c141e;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

@media (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

.pc-only {
  display: none;
}
@media (min-width: 768px) {
  .pc-only {
    display: inline-block;
  }
}

.pc-l-only {
  display: none;
}
@media (min-width: 1200px) {
  .pc-l-only {
    display: inline-block;
  }
}

/* common
------------------------------*/
.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .content-wrap {
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .content-wrap {
    display: flex;
    align-items: stretch;
  }
}

.btn {
  display: inline-block;
  width: 250px;
  max-width: 100%;
  padding: 7.5px 25px;
  border: 1px solid #0c141e;
  color: #0c141e;
  font-weight: bold;
  text-align: center;
  transition: 0.25s;
}
.btn::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 16px;
  margin-left: 12.5px;
  background: url(../img/allow.svg) center center/contain no-repeat;
}
.btn:focus, .btn:hover {
  background-color: #0c141e;
  color: #ffffff;
}
.btn:focus::after, .btn:hover::after {
  background-image: url(../img/allow_w.svg);
}

/* header
------------------------------*/
.header {
  width: 100%;
  height: 59px;
  background: #ffffff;
  position: fixed;
  z-index: 10;
  top: 0;
}
@media (min-width: 768px) {
  .header {
    height: 90px;
  }
}
.header__inner {
  height: 100%;
  padding-left: 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header__inner {
    padding-left: 50px;
  }
}
.header__logo {
  display: inline-block;
  width: 200px;
  height: auto;
}
@media (min-width: 768px) {
  .header__logo {
    width: auto;
    height: 50px;
  }
}

.header-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90px;
  height: 100%;
  padding: 5px;
  background-color: #203354;
}
@media (min-width: 768px) {
  .header-btn {
    width: 180px;
  }
}
.header-btn__text {
  color: #ffffff;
  display: inline-block;
}
.header-btn__text_close {
  display: none;
}
.header-btn__icon {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
}
.header-btn__icon span {
  position: absolute;
  width: 26px;
  height: 2px;
  border-bottom: 2px solid #ffffff;
  transition: 0.7s;
}
.header-btn__icon span:nth-child(1) {
  top: 33%;
}
.header-btn__icon span:nth-child(2) {
  top: 66%;
}
.header-btn.is_open .header-btn__text_menu {
  display: none;
}
.header-btn.is_open .header-btn__text_close {
  display: inline;
}
.header-btn.is_open .header-btn__icon span:nth-child(1) {
  top: 50%;
  transform: rotate(405deg);
}
.header-btn.is_open .header-btn__icon span:nth-child(2) {
  top: 50%;
  transform: rotate(-45deg);
}

.header-menu {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 9;
  top: 0;
  background: #ffffff;
  transition: all 0.7s;
  transform: translateY(-100%);
}
.header-menu.is_open {
  transform: translateY(59px);
}
@media (min-width: 768px) {
  .header-menu.is_open {
    transform: translateY(90px);
  }
}
.header-menu__inner {
  width: 92%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .header-menu__inner {
    width: 100%;
    max-width: 1200px;
  }
}

.header-menu-items {
  list-style-type: none;
}
@media (min-width: 768px) {
  .header-menu-items {
    display: flex;
    justify-content: space-around;
  }
}

.header-menu-item {
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #c6c6c6;
}
@media (min-width: 768px) {
  .header-menu-item {
    width: auto;
    height: 100px;
    border-bottom: none;
    border-left: 1px solid #c6c6c6;
  }
  .header-menu-item:last-child {
    border-right: 1px solid #c6c6c6;
  }
}
.header-menu-item:hover {
  background: #90c2eb;
}
.header-menu-item:hover .header-menu-item__inner {
  color: #ffffff;
}
.header-menu-item:hover .header-menu-item__inner::after {
  background-image: url(../img/allow_w.svg);
}
@media (min-width: 768px) {
  .header-menu-item__wrap {
    width: 20%;
  }
}
.header-menu-item__inner {
  position: relative;
  width: 55%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #0c141e;
  text-align: right;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .header-menu-item__inner {
    width: 100%;
    text-align: center;
  }
}
.header-menu-item__inner span {
  display: none;
}
@media (min-width: 768px) {
  .header-menu-item__inner span {
    display: inline-block;
    width: 100%;
    font-weight: normal;
  }
}
.header-menu-item__inner::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: calc(100% + 25px);
  width: 41px;
  height: 61px;
  background: url(../img/allow.svg) left center/auto no-repeat;
}
@media (min-width: 768px) {
  .header-menu-item__inner::after {
    display: none;
  }
}

/* MV
------------------------------*/
.MV {
  position: relative;
  height: 400px;
  background: url(../img/MV.jpg) center center/cover no-repeat;
  margin-top: 59px;
}
@media (min-width: 768px) {
  .MV {
    height: 540px;
    margin-top: 90px;
  }
}
.MV__shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.level1-heading {
  position: absolute;
  top: 105px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .level1-heading {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.level1-heading__inner {
  font-size: 32px;
  font-weight: 300;
  color: #ffffff;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .level1-heading__inner {
    font-size: 40px;
  }
}

.scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.scroll-down__text {
  font-size: 10px;
  color: #ffffff;
  padding-bottom: 10px;
  transform: translateX(-50%);
}
.scroll-down__line {
  width: 1px;
  height: 75px;
  background: #ffffff;
}

/* content
------------------------------*/
@media (min-width: 1200px) {
  .content {
    flex-grow: 1;
  }
}
.content__inner {
  padding: 25px 15px;
}

.main-content {
  background-color: #e9e9e9;
}

.title {
  display: inline;
  font-size: 24px;
  color: #ffffff;
}
.title__wrap {
  position: relative;
  width: auto;
  height: 100px;
  background: #203354;
  text-align: center;
  padding: 32px 0;
}
@media (min-width: 1200px) {
  .title__wrap {
    display: flex;
    align-items: center;
    width: 200px;
    height: auto;
    text-align: left;
    padding: 0 0 0 25px;
  }
}

.title-triangle {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 0;
  left: 0;
  background: url(../img/triangle.svg) top left/contain no-repeat;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .cards {
    justify-content: space-around;
  }
}

.card {
  margin-bottom: 25px;
  width: 100%;
}
@media (min-width: 768px) {
  .card {
    width: 32%;
    max-width: 300px;
  }
}
.card__img-wrap {
  margin-bottom: 15px;
}
.card__title {
  font-size: 20px;
  margin-bottom: 15px;
}

/* contact
------------------------------*/
@media (min-width: 768px) {
  .contact__wrap {
    display: flex;
  }
}

.contact-btn__wrap {
  width: 100%;
  padding: 50px 0;
  text-align: center;
}
.contact-btn__wrap_bg-color {
  background-color: #6692c1;
}
@media (min-width: 768px) {
  .contact-btn__wrap {
    width: 50%;
  }
}
.contact-btn__caption {
  padding-bottom: 12.5px;
}
@media (min-width: 768px) {
  .contact-btn__caption {
    padding-bottom: 25px;
  }
}

/* topnews
------------------------------*/
.topnews {
  padding: 25px 15px 50px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .topnews {
    padding: 50px 10px;
  }
}
.topnews__wrap {
  width: 100%;
  background-color: #203354;
}
.topnews__title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .topnews__title {
    margin-bottom: 50px;
  }
}
.topnews__inner {
  display: inline-block;
  text-align: left;
}
.topnews__item {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .topnews__item {
    margin-bottom: 25px;
  }
  .topnews__item > * {
    display: flex;
    flex-wrap: nowrap;
  }
}
.topnews__date {
  font-weight: bold;
}
@media (min-width: 768px) {
  .topnews__date {
    padding-right: 10px;
    width: 130px;
  }
}
@media (min-width: 768px) {
  .topnews__text {
    width: calc(100% - 130px);
  }
}

/* footer
------------------------------*/
.footer {
  width: 100%;
  background-color: #203354;
  padding: 50px 0 25px;
}
@media (min-width: 768px) {
  .footer__inner {
    padding: 0 50px;
  }
}
.footer__logo {
  display: inline-block;
  width: 200px;
  height: auto;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .footer__logo {
    width: 250px;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .footer__logo {
    width: 300px;
  }
}

.footer-contents {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .footer-contents {
    display: flex;
    justify-content: space-between;
  }
}
.footer-contents > *:last-child {
  margin-bottom: 0;
}

.footer-content {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .footer-content {
    width: 200px;
  }
}
@media (min-width: 1024px) {
  .footer-content {
    width: 350px;
  }
}

.footer-info {
  font-size: 12px;
  color: #ffffff;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .footer-info {
    padding: 0;
  }
}

.footer-menu {
  width: 100%;
  height: auto;
  background-color: #6692c1;
}
@media (min-width: 768px) {
  .footer-menu {
    background-color: rgba(0, 0, 0, 0);
  }
}

.footer-menu-item {
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #0c141e;
}
@media (min-width: 768px) {
  .footer-menu-item {
    height: auto;
    border: none;
  }
}
.footer-menu-item__inner {
  position: relative;
  width: 55%;
  font-size: 20px;
  font-weight: bold;
  color: #0c141e;
  text-align: right;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .footer-menu-item__inner {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    padding-top: 0;
  }
}
.footer-menu-item__inner::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: calc(100% + 25px);
  width: 41px;
  height: 61px;
  background: url(../img/allow.svg) left center/auto no-repeat;
}
@media (min-width: 768px) {
  .footer-menu-item__inner::after {
    content: none;
  }
}

.copy-right {
  color: #ffffff;
  text-align: center;
}
